<p>Template-Driven Form</p>
<form #myForm="ngForm"  (ngSubmit) = "onClickSubmit(myForm.value)">
   <div ngModelGroup="details" >
    <label for="name">Full Name</label> <input type="text" name="username" ngModel >
    <label for="Email">Email</label> <input type="email" name="email" ngModel >
    <label for="Phone No">Phone No</label> <input type="number" name="phoneNumber" ngModel >
    <label for="Password">Password</label> <input type="password" name="password" ngModel >
    <label for="cPassword">Confirm Password</label> <input type="password" name="cPassword" ngModel >
    <input type = "submit" value = "submit">
   </div>
</form>
<div *ngIf="visible">
  <p>Full Name:{{ myForm.value.details.username}}</p>
  <p>Email: {{ myForm.value.details.email}}</p>
  <p>Phoen Number: {{ myForm.value.details.phoneNumber}}</p>
  <p>Password:{{ myForm.value.details.password}}</p>
  <p>Confirm Password:{{ myForm.value.details.cPassword}}</p>
</div>
