<p>Template-Driven Form</p>
<form #myForm="ngForm"  (ngSubmit) = "myForm.form.valid && onClickSubmit(myForm.value)">
   <div ngModelGroup="details" >
    <label for="name">Full Name</label> <input type="text" name="username" [(ngModel)]="model.username"  required>
    <label for="Email">Email</label> <input type="email" name="email" [(ngModel)]="model.email" required email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    <label for="Phone No">Phone No</label> <input type="number" name="phoneNumber" minlength="10" [(ngModel)]="model.phoneNumber" required >
    <label for="Password">Password</label> <input type="password" name="password" [(ngModel)]="model.password" passwordMatch required>
    <label for="cPassword">Confirm Password</label> <input type="password" name="cPassword" [(ngModel)]="model.cPassword" passwordMatch required>
    <input type = "submit" value = "submit" [disabled]="!myForm.valid">
   </div>
</form>
<div *ngIf="visible">
  <p>Full Name:{{ myForm.value.details.username}}</p>
  <p>Email: {{ myForm.value.details.email}}</p>
  <p>Phoen Number: {{ myForm.value.details.phoneNumber}}</p>
  <p>Password:{{ myForm.value.details.password}}</p>
  <p>Confirm Password:{{ myForm.value.details.cPassword}}</p>
</div>
